<div class="container">
    <h2>Basic Table</h2>
             
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Publisher</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let data of bookData" >
          <td >{{data.title}}</td>
          <td>{{data.publisher}}</td>
          <td>{{data.price}}</td>
          <td ><button (click)="review(data)">View Reviews</button></td>
        </tr>
        
      </tbody>
    </table>
  </div>